

a{
  text-decoration: none;
}

html, body, .full-height{
  height: 100%;
}

body{
  max-height: 100%;
  font-size: 15px;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

.section-padding{
  padding: 50px 0;
}

.wrap-1{
  background-image: url(img/b.jpg);
}

.wrap-2{
  background-image: url(img/3.jpg);
}

.section-table{
  display: table;
  height: 100%;
  width: 100%;
}

.section-tablecell{
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}

.section-padding .full-height{
  padding: 0;
}

.overlay{
  position: relative;
  z-index: 1;
}

.overlay::after, .single-service-item::after{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  content: '';
  z-index: -1;
  opacity: .6;
}

.single-service-item{
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 30px;
  text-align: center;
}

.single-service-item a{
  color: #fff;
}

.single-service-item h2{
  font-size: 25px;
}

.service-icon{
  font-size: 100px;
  line-height: 120px;
}

.video-play-box{
  text-align: center;
  color: #fff;
  transition: .3s;
}

.video-btn{
  display: inline-block;
  height: 100px;
  width: 100px;
  line-height: 100px;
  color: #333;
  background-color: #fff;
  border-radius: 50%;
  font-size: 30px;
}

.wrap-1,.wrap-2{
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

.parallax-container{
  width: 100%;
}

.parallax-window{
  height: 100vh;
}
